{% load static %} {% block content %}
<nav id="mainnav-container" class="mainnav">
    <div class="mainnav__inner">
      <!-- Navigation menu -->
      <div class="mainnav__top-content scrollable-content pb-5">
        <!-- Profile Widget -->
        <div class="mainnav__profile mt-3 d-flex3">
          <div class="mt-2 d-mn-max"></div>

          <!-- Profile picture  -->
          <div class="mininav-toggle text-center py-2">
            <img
              class="mainnav__avatar img-md rounded-circle border"
              src="{% static 'assets/img/profile-photos/1.png' %}"
              alt="Profile Picture"
            />
          </div>

          <div class="mininav-content collapse d-mn-max">
            <div class="d-grid">
              <!-- User name and position -->
              <button
                class="d-block btn shadow-none p-2"
                data-bs-toggle="collapse"
                data-bs-target="#usernav"
                aria-expanded="false"
                aria-controls="usernav"
              >
                <span
                  class="dropdown-toggle d-flex justify-content-center align-items-center"
                >
                  <h6 class="mb-0 me-3">Abdul Kholiq</h6>
                </span>
                <small class="text-muted">Administrator</small>
              </button>
            </div>
          </div>
        </div>
        <!-- End - Profile widget -->

        <!-- Navigation Category -->
        <div class="mainnav__categoriy py-3">
          <h6 class="mainnav__caption mt-0 px-3 fw-bold">Navigation</h6>
          <ul class="mainnav__menu nav flex-column">
            <!-- Regular menu link -->
            <li class="nav-item">
              <a href="{% url 'dashboard' %}" class="nav-link mininav-toggle"
                ><i class="demo-pli-home fs-5 me-2"></i>

                <span class="nav-label mininav-content ms-1">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'akun' %}" class="nav-link mininav-toggle"
                ><i class="far fa-user me-2"></i>

                <span class="nav-label mininav-content ms-1">Akun</span>
              </a>
            </li>
            {% comment %} <li class="nav-item">
              <a href="{% url 'setting' %}" class="nav-link mininav-toggle"
                ><i class="fas fa-gear me-2"></i>

                <span class="nav-label mininav-content ms-1">Setting</span>
              </a>
            </li> {% endcomment %}
            <!-- END : Regular menu link -->
          </ul>
        </div>
        <!-- END : Navigation Category -->

        <!-- Navigation Category -->
        <div class="mainnav__categoriy py-3">
          <h6 class="mainnav__caption mt-0 px-3 fw-bold">Perhitungan</h6>
          <ul class="mainnav__menu nav flex-column">
            <!-- Regular menu link -->
            <!-- Link with submenu -->
            <li class="nav-item has-sub">
                <a href="#" class="mininav-toggle nav-link"><i class="demo-pli-file fs-5 me-2"></i>
                    <span class="nav-label ms-1">Dataset</span>
                </a>
                <!-- Dashboard submenu list -->
                <ul class="mininav-content nav collapse">
                    <li class="nav-item">
                        <a href="{% url 'data_latih' %}" class="nav-link">Data Latih</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'data_uji' %}" class="nav-link">Data Uji</a>
                    </li>
                </ul>
                <!-- END : Dashboard submenu list -->
              </li>
              <!-- END : Link with submenu -->
            <li class="nav-item">
              <a href="{% url 'preprocessing' %}" class="nav-link mininav-toggle"
                ><i class="demo-pli-file-csv fs-5 me-2"></i>

                <span class="nav-label mininav-content ms-1">PreProcessing</span>
              </a>
            </li>
            <!-- Link with submenu -->
            <li class="nav-item has-sub">
                <a href="#" class="mininav-toggle nav-link"><i class="demo-pli-file-excel fs-5 me-2"></i>
                    <span class="nav-label ms-1">Pembobotan</span>
                </a>
                <!-- Dashboard submenu list -->
                <ul class="mininav-content nav collapse">
                    <li class="nav-item">
                        <a href="{% url 'term_frequency' %}" class="nav-link">Term Frequency</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tf_idf' %}" class="nav-link">TF-IDF</a>
                    </li>
                </ul>
                <!-- END : Dashboard submenu list -->
              </li>
              <!-- END : Link with submenu -->
              <li class="nav-item">
              <a href="{% url 'manual' %}" class="nav-link mininav-toggle"
                ><i class="fas fa-calculator fs-5 me-2"></i>

                <span class="nav-label mininav-content ms-1">Perhitungan Manual</span>
              </a>
            </li>
            <!-- END : Regular menu link -->
          </ul>
        </div>
        <!-- END : Navigation Category -->
    </div>
  </nav>
{% endblock %}