{% extends "app.html" %} {% load static %} {% block content %}

<div class="content__header content__boxed overlapping">
  <div class="content__wrap">
    <!-- Page title and information -->
    <h1 class="page-title mb-2">Dashboard</h1>
    <h2 class="h5">Welcome back to the Dashboard.</h2>
    <p>
      Scroll down to see quick links and overviews of your Server, To do list<br />
      Order status or get some Help using Nifty.
    </p>
    <!-- END : Page title and information -->
  </div>
</div>

<div class="content__boxed">
  <div class="content__wrap">
    <div class="row"></div>
  </div>
</div>

{% endblock content %} {% block script %}
<!-- Plugin scripts [ OPTIONAL ] -->
<script
  src="{% static 'assets/pages/dashboard-1.min.07239cfbfa13a684f5c4668d5282cf217c7793bc57557b4ec22c36740ffb5bf1.js' %}"
  defer
></script>
{% endblock script %}
