{% extends "app.html" %} {% load static %} {% block content %}
<div class="content__header content__boxed rounded-0">
                <div class="content__wrap">

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                    <!-- END : Breadcrumb -->

                    <h1 class="page-title mb-0 mt-2">Dashboard</h1>

                    <p class="lead">
                        Simple and create your own model.
                    </p>

                </div>

            </div>

            <div class="content__boxed">
                <div class="content__wrap">
                    <div class="card">
                        <div class="row">
                            <!-- Tiles -->
                        <div class="col-sm-6 col-lg-3">

                            <!-- Stat widget -->
                            <div class="card bg-cyan text-white mb-3 mb-xl-3">
                                <div class="card-body py-3 d-flex align-items-stretch">
                                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file-word fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{total_document}}</h5>
                                        <p class="mb-0">Total Dataset</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END : Stat widget -->

                        </div>
                        <div class="col-sm-6 col-lg-3">

                            <!-- Stat widget -->
                            <div class="card bg-primary text-white mb-3 mb-xl-3">
                                <div class="card-body py-3 d-flex align-items-stretch">
                                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file-word fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{total_positive}}</h5>
                                        <p class="mb-0">Positive</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END : Stat widget -->

                        </div>
                        <div class="col-sm-6 col-lg-3">

                            <!-- Stat widget -->
                            <div class="card bg-orange text-white mb-3 mb-xl-3">
                                <div class="card-body py-3 d-flex align-items-stretch">
                                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file-word fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{total_negative}}</h5>
                                        <p class="mb-0">Negative</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END : Stat widget -->

                        </div>
                        <div class="col-sm-6 col-lg-3">

                            <!-- Stat widget -->
                            <div class="card bg-secondary text-white mb-3 mb-xl-3">
                                <div class="card-body py-3 d-flex align-items-stretch">
                                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file-word fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{total_neutral}}</h5>
                                        <p class="mb-0">Neutral</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END : Stat widget -->

                        </div>
                    <!-- END : Tiles -->
                            <div class="col-md-7">

                                <!-- Contact form -->
                                <div class="card-body">
                                    <form action="" method="post" >
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="model_type">Data Model</label>
                                                    <select
                                                    id="model_type"
                                                    class="select2 form-control"
                                                    name="model_type"
                                                    >
                                                    <option selected disabled>Pilih Data Model</option>
                                                    <option value="1" {% if setting.model_type == 1 %} selected {% endif %} >9:1 | TRAIN TEST</option>
                                                    <option value="2" {% if setting.model_type == 2 %} selected {% endif %}>8:2 | TRAIN TEST</option>
                                                    <option value="3" {% if setting.model_type == 3 %} selected {% endif %}>7:3 | TRAIN TEST</option>
                                                    <option value="4" {% if setting.model_type == 4 %} selected {% endif %}>6:4 | TRAIN TEST</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="threshold" class="form-label">Threshold Minimum</label>
                                                <input id="threshold_min" name="threshold_min" value="{{setting.threshold_min}}" class="form-control" type="number" placeholder="Threshold Min">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="threshold" class="form-label">Threshold Maksimum</label>
                                                <input id="threshold_max" name="threshold_max" value="{{setting.threshold_max}}"  class="form-control" type="number" placeholder="Threshold Max">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">Submit</button>
                                    <form >
                                </div>
                                <!-- END : Contact form -->

                            </div>

                            <!-- Simple info banner -->
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-2 p-3">
                                                <div class="h3 display-3">{{setting.accuracy_score}}%</div>
                                                <span class="h6">Akurasi</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-center">
                                       <!-- Striped rows -->
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Sentiment</th>
                                                    <th>Precision</th>
                                                    <th>Recall</th>
                                                    <th>F1</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Negative</td>
                                                    <td>{{setting.precision_score.negative}}</td>
                                                    <td>{{setting.recall_score.negative}}</td>
                                                    <td>{{setting.f1_score.negative}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Neutral</td>
                                                    <td>{{setting.precision_score.neutral}}</td>
                                                    <td>{{setting.recall_score.neutral}}</td>
                                                    <td>{{setting.f1_score.neutral}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Positive</td>
                                                    <td>{{setting.precision_score.positive}}</td>
                                                    <td>{{setting.recall_score.positive}}</td>
                                                    <td>{{setting.f1_score.positive}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END : Striped rows -->
                                    </div>
                                </div>
                            </div>
                            <!-- END : Simple info banner -->

                        </div>
                    </div>

                </div>
            </div>
  {% endblock content %} 

  {% block script %}
<script>
     $(".select2").select2({
            placeholder: "Pilih...",
        });
</script>
  {% endblock script %}
</div>
