{% extends "app.html" %} {% load static %} {% block content %}
<div class="content__header content__boxed overlapping">
  <div class="content__wrap">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="$">Pembobotan</a></li>
        <li class="breadcrumb-item active" aria-current="page">TFIDF</li>
      </ol>
    </nav>
    <!-- END : Breadcrumb -->

    <h1 class="page-title mb-0 mt-2">TFIDF</h1>

    {% comment %} <p class="lead">Interactive Tables and Data Grids for JavaScript.</p> {% endcomment %}
  </div>
</div>

<div class="content__boxed">
  <div class="content__wrap">
    <div class="card">
      <div class="card-header">
        {% comment %} <h5 class="card-title">Filter Data</h5> {% endcomment %}

       
         <div class="card-body">
           <div class="table-responsive">
             {% if messages %}
              <div class="alert alert-warning" role="alert">
                {{messages}}
              </div>
              {% endif %}
            <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="#" class="btn btn-secondary align-self-right">First</a>
              <a href="#" class="btn btn-primary align-self-right">Previous</a>
              <a href="#" class="btn btn-primary align-self-right">Next</a>
              <a href="#" class="btn btn-secondary align-self-right">Last</a>
            </div>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Term</th>
                            <th>Doc1</th>
                            <th>Doc2</th>
                            <th>Doc3</th>
                            <th>Doc4</th>
                            <th>DF</th>
                            <th>IDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,v in tfidf.iterrows %}
                        <tr>
                            <td><a class="btn-link" href="#"> {{i|add:1 }}</a></td>
                            <td>{{v.term}}</td>
                            <td>{{v.doc1}}</td>
                            <td>{{v.doc2}}</td>
                            <td>{{v.doc3}}</td>
                            <td>{{v.doc4}}</td>
                            <td>{{v.df}}</td>
                            <td>{{v.idf}}</td>
                        </tr>
                        {% endfor %}
                        
                  </tbody>
              </table>
          </div>
            <nav class="text-align-center mt-5" aria-label="Table navigation">
              <ul class="pagination justify-content-center">
                  <li class="page-item {% if has_previous is False %}disabled{% endif %}">
                      <a href="?page={{previous_page}}" class="page-link">Previous</a>
                    </li>
                    {% if current_page != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% if current_page >= page_count %}
                  <li class="page-item"><a class="page-link" href="?page={{current_page|add:-1}}">{{current_page|add:-1}}</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{current_page|add:-2}}">{{current_page|add:-2}}</a></li>
                  {% endif %}
                  <li class="page-item active" aria-current="page">
                      <span class="page-link">{{current_page}}</span>
                  </li>
                  {% if current_page <= page_count %}
                  <li class="page-item"><a class="page-link" href="?page={{current_page|add:1}}">{{current_page|add:1}}</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{current_page|add:2}}">{{current_page|add:2}}</a></li>
                  {% endif %}
                  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{page_count}}">{{page_count}}</a></li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{next_page}}">Next</a>
                  </li>
              </ul>
          </nav>
      </div>
    </div>
  </div>

  {% endblock content %} 
  {% block style %}
  <link
    href="{% static 'assets/css/plugins/dataTables.bootstrap.css' %}"
    rel="stylesheet"
  ></link>
  <link
    href="{% static 'assets/css/plugins/responsive.dataTables.min.css' %}"
    rel="stylesheet"
  ></link>
  <link
    href="{% static 'assets/css/plugins/select2.min.css' %}"
    rel="stylesheet"
  ></link>
  {% endblock style %}
  {% block script %}
  <script
    src="{% static 'assets/js/plugins/jquery.min.js' %}"
    
  ></script>
  <script
    src="{% static 'assets/js/plugins/jquery.dataTables.js' %}"
    
  ></script>
  <script
    src="{% static 'assets/js/plugins/select2.min.js' %}"
    
  ></script>
  <script
    src="{% static 'assets/js/plugins/dataTables.bootstrap.js' %}"
    
  ></script>
  <script
    src="{% static 'assets/js/plugins/dataTables.responsive.min.js' %}"
    
  ></script>
  <script>
        $(".select2").select2({
            placeholder: "Pilih...",
        });

        $('#kecamatan').change(function() {
            var kecamatan = $(this).children('option:selected').val();
            var url = $('#kelurahan').data('url');
            $.ajax({
                url,
                type: "GET",
                data: {
                    kecamatan
                },
                success: function(response) {
                    $('#kelurahan').empty();
                    response?.data?.forEach(function(item, index) {
                        $('#kelurahan').append(
                            `<option value="${item?.id}">${item?.nama}</option>`)
                    })
                },
            })
        });
        $.fn.DataTable.ext.pager.numbers_length = 5;

        // Basic Data Tables with responsive plugin
        // -----------------------------------------------------------------
        var table = $('#datatables').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            pageLength: 10,
            scrollX: false,
            scrollY: true,
            processing: true,
            serverSide: true,
            ajax: {
                url: $('#datatables').data('url'),
                data: function(d) {
                    let kelurahan = $('#inputkelurahan').val();
                    if(kelurahan !== undefined && kelurahan !== ''){
                        d.kelurahan = $('#inputkelurahan').val();
                    }
                }
            },
            columns: [{
                    data: 'DT_RowIndex',
                    name: 'DT_RowIndex',
                    orderable: false,
                    searchable: false
                },
                {
                    data: 'nama',
                    name: 'nama'
                },
                {
                    data: 'kelurahan',
                    name: 'kelurahan'
                },
                {
                    data: 'kecamatan',
                    name: 'kecamatan'
                },
                {
                    data: 'jenis_kelamin',
                    name: 'jenis_kelamin'
                },
                {
                    data: 'tempat_lahir',
                    name: 'tempat_lahir'
                },
                {
                    data: 'action',
                    name: 'action'
                },
            ],
        });

        $('#kelurahan').change(function() {
            $('#inputkelurahan').val($(this).val());
            table.draw();
        });

        $(document).ready(function() {
            let filterParams = new URLSearchParams(window.location.search)
            if (filterParams.has('kelurahan')) {
                $('#inputkelurahan').val(filterParams.get('kelurahan'));
                table.draw();
            }
        });
    </script>
  {% endblock script %}
</div>
